# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
CFLAGS="-march=x86-64 -O2 -pipe"
CXXFLAGS="${CFLAGS}"
# WARNING: Changing your CHOST is not something that should be done lightly.
# Please consult http://www.gentoo.org/doc/en/change-chost.xml before changing.
CHOST="x86_64-pc-linux-gnu"
# These are the USE flags that were used in addition to what is provided by the
# profile used for building.
ACCEPT_LICENSE="*"
ACCEPT_KEYWORDS="~amd64"
ABI_X86="64 32"
#CPU_FLAGS_X86="aes avx fma3 fma4 mmx mmxext popcnt sse sse2 sse3 sse4_1 sse4_2 sse4a ssse3 xop"
AUDIOUSE="aac aacplus alac celt cue faac faad flac id3tag lame m3u mad modplug mp3 mpg123 musepack ogg openal opus sndfile soundcloud speex taglib theora twolame vorbis wavpack"
VIDEOUSE="a52 aalib bluray cdio dirac divx dts dv dvb dvd dvdnav encode h264 libcaca m4a matroska mp4 mp4v2 mpeg quicktime schroedinger vpx wma x264 x265 xinerama xv xvid"
USE="$AUDIOUSE $VIDEOUSE -bindist pulseaudio samba cups -gnome -spell -bluetooth -semantic-desktop bash-completion systemd -consolekit -handbook xinerama xcomposite qt5"
RUBY_TARGETS="ruby22 ruby23 ruby24"
LINGUAS="ru"
L10N="ru"
GRUB_PLATFORMS="pc"
INPUT_DEVICE="evdev"
VIDEO_CARDS="nvidia"
PORTDIR="/usr/portage"
DISTDIR="/var/distfiles"
PKGDIR="/var/packages"
MAKEOPTS="-j5"
EMERGE_DEFAULT_OPTS="-vb --jobs=1 --keep-going=y --with-bdeps=y --binpkg-respect-use=y --binpkg-changed-deps=y --buildpkg-exclude \"sys-kernel/*-sources x11-drivers/nvidia-drivers app-emulation/virtualbox-modules dev-lang/mono sys-devel/gcc sys-apps/portage\""
GENTOO_MIRRORS="http://mirror.yandex.ru/gentoo-distfiles/"
PORTAGE_BINHOST="http://binhost.rinaldus.ru/"
